nav {
    height: 68px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-content-container {
    display: flex;
    color: #fff;
    height: 100%;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}
.nav-img {
    margin-right: 13px;
    margin-top: 10px;
}

a {
    color: #131921;
    text-decoration: none;
}

.navbar-text-container {
    width: 100%;
    padding: 1px 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 35px;
}


.navbar-text-container:hover {
    background-color: #3a3c51;
    color: #fff;
    border-radius: 4px;
}